.aside-container-all{
    height: 100vh ;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    
}

.logout-content{
    align-self: center;
    background-color: var(--main-color);
    padding: 12px 10px;
    width: 50%;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    & > a{
        width: 100%;
        text-align: center;
        height: 100%;
        color: #fff;
        font-weight: bold;
    }
    & > svg{
        display: none;
    }
}
.logout-content.close{
    width: 50px;
    min-width: fit-content;
    height: 50px;
    border-radius: 50%;
    & > a{
        display: none;
    }
    & > svg{
        display: block;
        width: 25px;
        height: 25px;
        stroke: #fff;
        fill: #fff;
    }
}

/* * Logo imagen */
.title-aside{
    width: 100%;
}
.logo-grande{
    width: 80%;
    margin: 30px 20px;
}
.logo-grande.off, .logo-chico.off{
    display: none;
}
.logo-chico{
    width: 70%;
    margin: 30px 0 0 10px;
}