.files-items-container{
    display: flex;
    background-color: rgba(180, 180, 180, 0.205);
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    gap: 1rem;
    & svg{
        width: 28px;
        height: 28px;
    }
}
.files-info-item{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    & > span:first-child{
        font-weight: bold;
    }
    & > span:last-child{
        font-size: .9rem;
        color: var(--gray-font-color);
    }
}